Flask==2.2.5
Flask-RESTful==0.3.9
Jinja2==3.1.4
MarkupSafe==2.1.1
Werkzeug==3.0.6
aniso8601==8.1.0
click==8.0
itsdangerous==2.0
pytz==2020.5
setuptools==70.0.0
six==1.15.0
Flask-SQLAlchemy==3.0.3
flask-jwt-extended==4.6.0
Werkzeug==3.0.6
flask_login